In [ ]:
 !pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.4-py2.py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.4/51.4 KB 2.5 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 10.2 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (4.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.1/4.1 MB 60.7 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 10.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 5.5 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 9.2 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.4

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
data = yf.download('BTC-USD', start='2022-01-01')

[*********************100%***********************]  1 of 1 completed

In [ ]:
df = data.copy()

In [ ]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-01 00:00:00+00:00,46311.746094,47827.312500,46288.484375,47686.812500,47686.812500,24582667004
2022-01-02 00:00:00+00:00,47680.925781,47881.406250,46856.937500,47345.218750,47345.218750,27951569547
2022-01-03 00:00:00+00:00,47343.542969,47510.726562,45835.964844,46458.117188,46458.117188,33071628362
2022-01-04 00:00:00+00:00,46458.851562,47406.546875,45752.464844,45897.574219,45897.574219,42494677905
2022-01-05 00:00:00+00:00,45899.359375,46929.046875,42798.222656,43569.003906,43569.003906,36851084859
...,...,...,...,...,...,...
2023-01-13 00:00:00+00:00,18868.906250,19964.322266,18753.164062,19909.574219,19909.574219,29225029694
2023-01-14 00:00:00+00:00,19910.537109,21075.142578,19907.828125,20976.298828,20976.298828,38967784639
2023-01-15 00:00:00+00:00,20977.484375,20993.748047,20606.986328,20880.798828,20880.798828,19298407543
2023-01-16 00:00:00+00:00,20882.224609,21360.875000,20715.746094,21169.632812,21169.632812,26792494050
2023-01-17 00:00:00+00:00,21140.798828,21250.132812,20988.300781,21132.724609,21132.724609,23765010432

In [ ]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [ ]:
def macd_func(df,a=12,b=21,c=9):
  EMA_short = df['Close'].ewm(span=a, adjust=False,min_periods= a+1).mean()
  EMA_long = df['Close'].ewm(span=b, adjust=False,min_periods= b+1).mean()
  MACD = EMA_short - EMA_long
  signal = MACD.ewm(span=c, adjust=False,min_periods=c+1).mean()
  df['macd'] = MACD
  df['signal_line'] = signal
  df['histogram'] = df['macd'] - df['signal_line']
  
  #find entry point
  df['shift_hist'] = df['histogram'].shift(1)
  df[(df['histogram'] > 0) & (df['shift_hist'] < 0)]
  df.loc[(df['histogram']> 0) &  (df['shift_hist'] < 0 ), 'action'] = 'buy'
  df.loc[(df['histogram']< 0) &  (df['shift_hist'] > 0 ), 'action'] = 'sell'
  df.loc[df['action'] == 'buy', 'marker_position'] = df['Low'] *0.98
  df.loc[df['action'] == 'sell', 'marker_position'] = df['High'] *1.02


  return df

In [ ]:
def strategy_return(df, action_price = 'Open', long_or_short='long'):
  
  action_df = df.loc[df['action'].notnull()]

  if action_price == 'Open':

    df['action_price'] = df['Open'].shift(-1)
    action_df['return'] = action_df['action_price'].pct_change()


  elif action_price == 'Close':
    df['action_price'] = df['Close']
    action_df['return'] = action_df['action_price'].pct_change()

  elif action_price == 'Adj Close':
    df['action_price'] = df['Adj Close']
    action_df['return'] = action_df['Adj Close'].pct_change()

  else:
    raise ValueError('Not correct action price, choose between {Open, Close, Adj Close}')

  
  record_df = action_df[['action','action_price','return']]
  record_df.reset_index(inplace=True)
  record_df['previous_signal_date'] = record_df['Date'].shift(1)
  record_df['previous_action'] = record_df['action'].shift(1)
  record_df['previous_action_price'] = record_df['action_price'].shift(1)
  record_df.rename(columns={'Date':'signal_date'}, inplace=True)
  

  if long_or_short == 'long':
    summary_df = record_df[record_df.action == 'sell']
    print('long strategy')
  
  elif long_or_short == 'short':
    summary_df = record_df[record_df.action == 'buy']
    summary_df['return'] = summary_df['return'] * -1
    print('short strategy')

  else:
    raise ValueError('Not correct long_or_short, choose between {long, short}')

  return action_df, record_df, summary_df

In [ ]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [ ]:
    starter = macd_func(df)

In [ ]:
starter

,Open,High,Low,Close,Adj Close,Volume,macd,signal_line,histogram,shift_hist,action,marker_position
Date,,,,,,,,,,,,
2022-01-01 00:00:00+00:00,46311.746094,47827.312500,46288.484375,47686.812500,47686.812500,24582667004,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02 00:00:00+00:00,47680.925781,47881.406250,46856.937500,47345.218750,47345.218750,27951569547,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-03 00:00:00+00:00,47343.542969,47510.726562,45835.964844,46458.117188,46458.117188,33071628362,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04 00:00:00+00:00,46458.851562,47406.546875,45752.464844,45897.574219,45897.574219,42494677905,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05 00:00:00+00:00,45899.359375,46929.046875,42798.222656,43569.003906,43569.003906,36851084859,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-13 00:00:00+00:00,18868.906250,19964.322266,18753.164062,19909.574219,19909.574219,29225029694,350.435170,113.719704,236.715465,157.137133,NaN,NaN
2023-01-14 00:00:00+00:00,19910.537109,21075.142578,19907.828125,20976.298828,20976.298828,38967784639,519.406799,194.857123,324.549675,236.715465,NaN,NaN
2023-01-15 00:00:00+00:00,20977.484375,20993.748047,20606.986328,20880.798828,20880.798828,19298407543,636.110055,283.107710,353.002345,324.549675,NaN,NaN
2023-01-16 00:00:00+00:00,20882.224609,21360.875000,20715.746094,21169.632812,21169.632812,26792494050,735.163509,373.518869,361.644639,353.002345,NaN,NaN
2023-01-17 00:00:00+00:00,21140.798828,21250.132812,20988.300781,21132.724609,21132.724609,23765010432,798.753572,458.565810,340.187762,361.644639,NaN,NaN

In [ ]:
a,b,c = strategy_return(starter,'Open','long')

KeyError: ignored

In [ ]:
c

In [ ]:
c['return'].plot(kind='bar',figsize=(12,8))

In [ ]:
c.mean()