In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 8.1 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23919 sha256=b4a0a40e7df71a9a8dca8b17954b2eb1740793b3e00bfce819d84ae90d4180d9
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [ ]:
!pip install pandas_ta

Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     |████████████████████████████████| 115 kB 5.0 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_ta) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=1c18fb90219ad53656fd1624e2f3c5a6c43b6e8cca7d41d58824cd8b5a1711b2
  Stored in directory: /root/.cache/pip/wheels/0b/81/f0/cca85757840e4616a2c6b9fe12569d97d324c27cac60724c58
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [ ]:
import pandas as pd
import pandas_ta as ta
import numpy as np
import yfinance as yf

In [ ]:
data = pd.DataFrame()
data = data.ta.ticker('EURUSD=x',period='5y')

In [ ]:
df = data.copy()

In [ ]:
df = data.copy()
df.ta.macd(12,21,append=True)
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'MACD_12_21_9', 'MACDh_12_21_9', 'MACDs_12_21_9'],
      dtype='object')

In [ ]:
df['signal'] = df.iloc[:,-3] > df.iloc[:,-1]
signal_vectorbt = df.ta.tsignals(df.signal, asbool=True, append=True)

In [ ]:
df

                Open      High       Low  ...  TS_Trades  TS_Entries  TS_Exits
Date                                      ...
2016-08-15  1.116695  1.120574  1.115548  ...          0       False     False
2016-08-16  1.118443  1.132375  1.117943  ...          0       False     False
2016-08-17  1.127904  1.129433  1.125600  ...          0       False     False
2016-08-18  1.130199  1.134044  1.129612  ...          0       False     False
2016-08-19  1.134945  1.135203  1.130600  ...          0       False     False
...              ...       ...       ...  ...        ...         ...       ...
2021-08-09  1.175088  1.177163  1.174178  ...          0       False     False
2021-08-10  1.173900  1.174399  1.171070  ...         -1       False      True
2021-08-11  1.171976  1.174688  1.170645  ...          0       False     False
2021-08-12  1.174205  1.175101  1.172512  ...          0       False     False
2021-08-13  1.173571  1.180498  1.173434  ...          0       False     False

[1282 rows x 15 columns]

In [ ]:
df['action_price'] = df['Open'].shift(-1)

In [ ]:
df.tail()

                Open      High       Low  ...  TS_Entries  TS_Exits  action_price
Date                                      ...
2021-08-09  1.175088  1.177163  1.174178  ...       False     False      1.173900
2021-08-10  1.173900  1.174399  1.171070  ...       False      True      1.171976
2021-08-11  1.171976  1.174688  1.170645  ...       False     False      1.174205
2021-08-12  1.174205  1.175101  1.172512  ...       False     False      1.173571
2021-08-13  1.173571  1.180498  1.173434  ...       False     False           NaN

[5 rows x 16 columns]

In [ ]:
trades_table = df.iloc[:,-5:][df.TS_Trades !=0]

In [ ]:
trades_table

            TS_Trends  TS_Trades  TS_Entries  TS_Exits  action_price
Date
2016-09-26       True          1        True     False      1.125075
2016-10-07      False         -1       False      True      1.119545
2016-11-01       True          1        True     False      1.105950
2016-11-14      False         -1       False      True      1.074691
2016-12-01       True          1        True     False      1.066325
...               ...        ...         ...       ...           ...
2021-05-13      False         -1       False      True      1.208021
2021-05-18       True          1        True     False      1.222643
2021-05-28      False         -1       False      True      1.219007
2021-07-12       True          1        True     False      1.186493
2021-08-10      False         -1       False      True      1.171976

[116 rows x 5 columns]

In [ ]:
trades_table['return'] = trades_table['action_price'].pct_change()
trades_table

            TS_Trends  TS_Trades  TS_Entries  TS_Exits  action_price    return
Date
2016-09-26       True          1        True     False      1.125075       NaN
2016-10-07      False         -1       False      True      1.119545 -0.004915
2016-11-01       True          1        True     False      1.105950 -0.012143
2016-11-14      False         -1       False      True      1.074691 -0.028264
2016-12-01       True          1        True     False      1.066325 -0.007784
...               ...        ...         ...       ...           ...       ...
2021-05-13      False         -1       False      True      1.208021 -0.005098
2021-05-18       True          1        True     False      1.222643  0.012104
2021-05-28      False         -1       False      True      1.219007 -0.002974
2021-07-12       True          1        True     False      1.186493 -0.026672
2021-08-10      False         -1       False      True      1.171976 -0.012235

[116 rows x 6 columns]

In [ ]:
trades_summary = trades_table.loc[trades_table.TS_Exits==True]
trades_summary

            TS_Trends  TS_Trades  TS_Entries  TS_Exits  action_price    return
Date
2016-10-07      False         -1       False      True      1.119545 -0.004915
2016-11-14      False         -1       False      True      1.074691 -0.028264
2016-12-16      False         -1       False      True      1.044823 -0.020165
2017-02-08      False         -1       False      True      1.069210  0.021951
2017-03-09      False         -1       False      True      1.058134  0.003534
2017-03-31      False         -1       False      True      1.066815 -0.001856
2017-05-11      False         -1       False      True      1.086602  0.014256
2017-05-31      False         -1       False      True      1.123823  0.007530
2017-08-09      False         -1       False      True      1.176471  0.028341
2017-09-04      False         -1       False      True      1.189443 -0.006340
2017-09-13      False         -1       False      True      1.189047 -0.010392
2017-10-25      False         -1       False      True      1.182215 -0.000780
2017-10-27      False         -1       False      True      1.160726 -0.002728
2017-12-07      False         -1       False      True      1.177440  0.009384
2018-01-10      False         -1       False      True      1.195486  0.008715
2018-02-06      False         -1       False      True      1.238145  0.009088
2018-03-12      False         -1       False      True      1.233867  0.002505
2018-03-16      False         -1       False      True      1.228079 -0.007639
2018-03-30      False         -1       False      True      1.231284 -0.007671
2018-04-23      False         -1       False      True      1.221120 -0.013335
2018-06-20      False         -1       False      True      1.157702 -0.007965
2018-07-30      False         -1       False      True      1.170864  0.000585
2018-08-02      False         -1       False      True      1.158561 -0.008898
2018-09-12      False         -1       False      True      1.162656  0.003476
2018-10-01      False         -1       False      True      1.157756 -0.009656
2018-10-18      False         -1       False      True      1.145515 -0.003975
2018-11-13      False         -1       False      True      1.131606 -0.010920
2019-01-04      False         -1       False      True      1.141292 -0.003652
2019-01-16      False         -1       False      True      1.139900 -0.005084
2019-02-07      False         -1       False      True      1.133993 -0.009684
2019-03-07      False         -1       False      True      1.120197 -0.012188
2019-03-28      False         -1       False      True      1.122952 -0.007984
2019-04-24      False         -1       False      True      1.115698 -0.010566
2019-05-21      False         -1       False      True      1.115511 -0.003079
2019-05-30      False         -1       False      True      1.112991 -0.005687
2019-06-18      False         -1       False      True      1.119746 -0.005117
2019-07-03      False         -1       False      True      1.128796 -0.009843
2019-08-19      False         -1       False      True      1.108254 -0.011005
2019-10-08      False         -1       False      True      1.098587  0.001197
2019-11-07      False         -1       False      True      1.103460  0.000585
2019-11-25      False         -1       False      True      1.101200 -0.004845
2019-12-24      False         -1       False      True      1.109139  0.000865
2020-01-09      False         -1       False      True      1.110926 -0.008499
2020-03-18      False         -1       False      True      1.094343  0.005308
2020-04-03      False         -1       False      True      1.080824 -0.019941
2020-04-22      False         -1       False      True      1.080684 -0.010321
2020-05-12      False         -1       False      True      1.084634 -0.008992
2020-05-14      False         -1       False      True      1.080625 -0.001448
2020-06-17      False         -1       False      True      1.124126  0.028463
2020-08-11      False         -1       False      True      1.173985  0.028246
2020-10-19      False         -1       False      True      1.176803  0.002612
2020-10-30      False         -1       False      True      1.164253 -0.015787
2020-12-23      False         -1       False      True      1.219393  0.025290
2021-03-02      False         -1       False      True      1.208503 -0.003710
2021-05-05      False         -1       False      True      1.200913  0.011253
2021-05-13      False         -1       False      True      1.208021 -0.005098
2021-05-28      False         -1       False      True      1.219007 -0.002974
2021-08-10      False         -1       False      True      1.171976 -0.012235

In [ ]:
compare = []
trade_log = []
for i in range(11,15):
      for j in range(21,25):

        #reset dataframe
        df = data.copy()

        #run macd
        df.ta.macd(fast=i,slow=j,append=True)

        #create signal
        df['signal'] = df.iloc[:,-3] > df.iloc[:,-1]

        #create TS table
        signal_vectorbt = df.ta.tsignals(df.signal, asbool=True, append=True)

        #action on next open 
        df['action_price'] = df['Open'].shift(-1)

        #create trade log
        trades_table = df.iloc[:,-5:][df.TS_Trades !=0]
        trades_table['return'] = trades_table['action_price'].pct_change()

        trades_summary = trades_table.loc[trades_table.TS_Exits==True]

        #select data for compare
        a = trades_summary['return']
        trade_log.append(a)
        
        b = [a.mean(),a.median(),a.min(),(i,j)]
        compare.append(b)

In [ ]:
trades_summary

In [ ]:
result = pd.DataFrame(compare,columns = ['Avg Return','Median','Worst Trade Return','MACD Parameter Set']).set_index('MACD Parameter Set',drop=True)
result

                    Avg Return    Median  Worst Trade Return
MACD Parameter Set
(11, 21)             -0.001281 -0.003710           -0.020634
(11, 22)             -0.001628 -0.004410           -0.020634
(11, 23)             -0.001801 -0.004410           -0.020634
(11, 24)             -0.001730 -0.003681           -0.028264
(12, 21)             -0.001897 -0.004410           -0.028264
(12, 22)             -0.001780 -0.003843           -0.028264
(12, 23)             -0.001783 -0.003681           -0.028264
(12, 24)             -0.001497 -0.003079           -0.028264
(13, 21)             -0.001828 -0.004249           -0.028264
(13, 22)             -0.001530 -0.003079           -0.028264
(13, 23)             -0.001031 -0.002974           -0.028264
(13, 24)             -0.000829 -0.002383           -0.028264
(14, 21)             -0.001065 -0.002851           -0.028264
(14, 22)             -0.000808 -0.002851           -0.028264
(14, 23)             -0.000798 -0.002186           -0.028264
(14, 24)             -0.000961 -0.003782           -0.028264

In [ ]:
result[result['Median']==result['Median'].max()]

                    Avg Return    Median  Worst Trade Return
MACD Parameter Set
(14, 23)             -0.000798 -0.002186           -0.028264