In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 1.7 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 1.3 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.2-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 35.0 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.22.4)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 8.4 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (111 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.2/111.2 KB 5.3 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 5.8 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (3.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.2 frozendict-2.3.5 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.12

In [ ]:
!pip install pandas_ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 KB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandas_ta) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandas_ta) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandas_ta) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)
Building wheels for collected packages: pandas_ta
  Building wheel for pandas_ta (setup.py) ... done
  Created wheel for pandas_ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=0e42fb9c89d8e0493b737ccb16e6fb4f73acddeae86d9d812b18d2ba5fb2d2e6
  Stored in directory: /root/.cache/pip/wheels/54/4a/75/06b8e63fce6f6d2c1baae5c208edb18eca128407b0c96e1153
Successfully built pandas_ta
Installing collected packages: pandas_ta
Successfully installed pandas_ta-0.3.14b0

In [ ]:
import pandas as pd
import pandas_ta as ta
import numpy as np
import yfinance as yf

In [ ]:
data = yf.download('BTC-USD', start='2021-01-01')

[*********************100%***********************]  1 of 1 completed

In [ ]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782
...,...,...,...,...,...,...
2023-03-02,23647.019531,23739.138672,23245.021484,23475.466797,23475.466797,20386398516
2023-03-03,23476.632812,23479.347656,22213.238281,22362.679688,22362.679688,26062404610
2023-03-04,22362.923828,22405.177734,22198.980469,22353.349609,22353.349609,11166012913
2023-03-05,22354.144531,22613.685547,22307.142578,22435.513672,22435.513672,13317001733
2023-03-06,22437.501953,22469.757812,22337.716797,22466.068359,22466.068359,14916301824

In [ ]:
test = data.copy()

test.ta.macd(fast=12, slow=26, append=True)

test['signal'] = test.iloc[:,-3] > test.iloc[:, -1]

In [ ]:
test.head(5)

,Open,High,Low,Close,Adj Close,Volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,signal,TS_Trends,TS_Trades,TS_Entries,TS_Exits
Date,,,,,,,,,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359,NaN,NaN,NaN,False,False,0,False,False
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,NaN,NaN,NaN,False,False,0,False,False
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,NaN,NaN,NaN,False,False,0,False,False
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344,NaN,NaN,NaN,False,False,0,False,False
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,NaN,NaN,NaN,False,False,0,False,False

In [ ]:
signal = test.ta.tsignals(test.signal, asbool=True, append=True)
signal

            TS_Trends  TS_Trades  TS_Entries  TS_Exits
Date
2021-01-01      False          0       False     False
2021-01-02      False          0       False     False
2021-01-03      False          0       False     False
2021-01-04      False          0       False     False
2021-01-05      False          0       False     False
...               ...        ...         ...       ...
2023-03-02      False          0       False     False
2023-03-03      False          0       False     False
2023-03-04      False          0       False     False
2023-03-05      False          0       False     False
2023-03-06      False          0       False     False

[795 rows x 4 columns]

In [ ]:
#Parameter Tuning
compare = []
trade_log = []
for i in range(10,16):
  for j in range(20,26):

    df = data.copy()

    df.ta.macd(fast=i, slow=j, append=True)

    df['signal'] = df.iloc[:,-3] > df.iloc[:, -1]

    signal = df.ta.tsignals(df.signal, asbool=True, append=True)

    df['action_price'] = df.Open.shift(-1)

    trades_table = df.iloc[:,-5:][df.TS_Trades != 0]
    trades_table['return'] = trades_table['action_price'].pct_change()

    trades_summary = trades_table.loc[trades_table.TS_Exits == True]

    a = trades_summary['return']
    trade_log.append(a)

    b = [a.mean(), a.median(), a.min(), (i,j)]

    compare.append(b)

In [ ]:
trades_summary

            TS_Trends  TS_Trades  TS_Entries  TS_Exits  action_price    return
Date
2021-02-24      False         -1       False      True  49709.082031  0.399829
2021-03-21      False         -1       False      True  57517.890625  0.027781
2021-04-03      False         -1       False      True  57604.839844 -0.030179
2021-04-18      False         -1       False      True  56191.585938 -0.115424
2021-05-12      False         -1       False      True  49735.433594 -0.139910
2021-06-22      False         -1       False      True  32515.714844 -0.114011
2021-07-16      False         -1       False      True  31397.308594 -0.094634
2021-08-18      False         -1       False      True  44741.882812  0.384942
2021-08-24      False         -1       False      True  47727.257812 -0.032433
2021-09-07      False         -1       False      True  46827.761719 -0.110761
2021-10-24      False         -1       False      True  60893.925781  0.265001
2021-11-11      False         -1       False      True  64863.980469 -0.031206
2022-01-05      False         -1       False      True  43565.511719 -0.070822
2022-01-21      False         -1       False      True  36471.589844 -0.153829
2022-02-19      False         -1       False      True  40118.101562  0.051536
2022-03-06      False         -1       False      True  38429.304688 -0.110320
2022-04-06      False         -1       False      True  43207.500000  0.050234
2022-05-05      False         -1       False      True  36573.183594 -0.078662
2022-06-12      False         -1       False      True  26737.578125 -0.091562
2022-08-17      False         -1       False      True  23341.039062  0.085807
2022-09-19      False         -1       False      True  19545.591797 -0.085668
2022-11-08      False         -1       False      True  18543.761719 -0.045503
2022-12-19      False         -1       False      True  16441.787109 -0.004829
2022-12-28      False         -1       False      True  16552.322266 -0.017214
2023-01-31      False         -1       False      True  23137.835938  0.387143

In [ ]:
result = pd.DataFrame(compare,columns = ['Avg Return','Median','Worst Trade Return','MACD Parameter Set']).set_index('MACD Parameter Set',drop=True)
result

                    Avg Return    Median  Worst Trade Return
MACD Parameter Set
(10, 20)              0.006067 -0.031738           -0.143837
(10, 21)              0.009259 -0.031738           -0.143837
(10, 22)              0.014336 -0.029950           -0.143837
(10, 23)              0.016532 -0.025435           -0.143837
(10, 24)              0.012422 -0.028670           -0.152074
(10, 25)              0.012059 -0.025359           -0.152074
(11, 20)              0.013291 -0.034568           -0.143837
(11, 21)              0.014832 -0.028586           -0.153829
(11, 22)              0.013502 -0.032263           -0.153829
(11, 23)              0.014502 -0.027238           -0.153829
(11, 24)              0.016202 -0.024362           -0.153829
(11, 25)              0.012600 -0.023365           -0.153829
(12, 20)              0.012971 -0.032263           -0.153829
(12, 21)              0.014367 -0.027768           -0.153829
(12, 22)              0.013508 -0.027238           -0.153829
(12, 23)              0.016470 -0.023365           -0.153829
(12, 24)              0.016982 -0.023365           -0.153829
(12, 25)              0.014054 -0.023365           -0.153829
(13, 20)              0.017287 -0.030102           -0.153829
(13, 21)              0.013732 -0.025359           -0.153829
(13, 22)              0.015368 -0.023365           -0.153829
(13, 23)              0.015489 -0.020329           -0.153829
(13, 24)              0.011413 -0.025320           -0.153829
(13, 25)              0.010292 -0.025280           -0.153829
(14, 20)              0.016047 -0.026299           -0.153829
(14, 21)              0.013628 -0.023365           -0.153829
(14, 22)              0.011945 -0.025320           -0.153829
(14, 23)              0.014659 -0.026299           -0.153829
(14, 24)              0.015338 -0.025280           -0.153829
(14, 25)              0.012822 -0.031819           -0.153829
(15, 20)              0.012151 -0.025359           -0.153829
(15, 21)              0.010764 -0.025359           -0.153829
(15, 22)              0.010817 -0.026299           -0.153829
(15, 23)              0.015493 -0.025280           -0.153829
(15, 24)              0.017044 -0.032433           -0.153829
(15, 25)              0.013012 -0.032433           -0.153829

In [ ]:
result[result['Median']==result['Median'].max()]

                    Avg Return    Median  Worst Trade Return
MACD Parameter Set
(13, 23)              0.003287 -0.023365           -0.153829